# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#build directory
build-firstBlood-Desktop_Qt_5_5_1_GCC_32bit-Debug/
build-server-Desktop_Qt_5_5_1_GCC_32bit-Debug/

#backup file
*.*~

#user resources
resources/

#user pro files
firstBlood/firstBlood.pro.user
server/server.pro.user

